@font-face {
    font-family:"Rock_3D";
    src: url(fonts/Rock3D-Regular.ttf),format('truetype');
    font-weight: normal;
    font-style: normal;
}

body h1{
    font-family: "Rock_3D";
    font-size:50px;
    color: #2800ab;
    margin:32px;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:20px;
    color:#414141;
}

h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    color:#414141;
    margin-left:32px;
}

h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    color:#414141;
    margin-left:32px;
}

ul{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    color:#414141;
}

div.gallery ul{
    {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size:14px;
        color:#414141;
    }
}

.desc {
    margin: 32px;
}

.desc img{
    max-width:100%; 
}



/* small screen */
@media screen (min-width: 200px){
    
    div.gallery{
        display:grid;
        grid-template-columns: repeat(1, 10fr);
        min-width:fit-content;
    }

    div.gallery desc{
        background-color:#004594;
        border-radius: 30px;
        min-width: fit-content;
    }
}

/* med screen */
@media screen (min-width: 600px){
    div.gallery{
        display:grid;
        grid-template-columns: repeat(2, 5fr);
    }
}


/*big screen*/
@media (min-width: 1100px) {

    div.gallery{
        display:grid;
        grid-template-columns: repeat(3, 5fr);
    }

}