@font-face {
    font-family:"Rock_3D";
    src: url(fonts/Rock3D-Regular.ttf),format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Poppins-ExtraBold";
    src: url(fonts/Poppins-ExtraBold.ttf),format('truetype');
    font-weight: ExtraBold;
    font-style: normal;
}

body h1{
    font-family: "Rock_3D";
    color: #e98d71;
    text-align:center;
}

h2{
    font-family: "Poppins-ExtraBold",Verdana, Geneva, Tahoma, sans-serif;
    color:#dd7d60;
}

h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    color:#5e5e5e;
}

h4{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#808080;
    text-align:center;
}

ul{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
    color:#7d7d7d;
    line-height:20px;
}

div.gallery ul{
    {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size:14px;
        color:#414141;
    }
}

.desc {
    margin: 32px;
}

.desc img{
    max-width:100%; 
    border-radius:20px;
}




/* small screen */
@media screen (min-width: 200px){
    
    div.gallery{
        display:grid;
        grid-template-columns: repeat(1, 10fr);
        min-width:fit-content;
    }

    div.gallery desc{
        background-color:#004594;
        border-radius: 30px;
        min-width: fit-content;
    }

    body h1{
        font-size:20px;
    }

    h2{
        font-size:16px;
    }

    h4{
        font-size:14px;
    }
}

/* med screen */
@media screen (min-width: 600px){
    div.gallery{
        display:grid;
        grid-template-columns: repeat(2, 5fr);
    }

    body h1{
        font-size:30px;
    }

    h2{
        font-size:18px;
    }

    h4{
        font-size:14px;
    }
}


/*big screen*/
@media (min-width: 1100px) {

    div.gallery{
        display:grid;
        grid-template-columns: repeat(3, 5fr);
    }

    .desc img{
        max-width:100%; 
        border-radius:0px;
    }    

    body h1{
        font-size:50px;
    }

    h2{
        font-size:20px;
    }

    h4{
        font-size:16px;
    }

}