@font-face {
    font-family:"Rock_3D";
    src: url(fonts/Rock3D-Regular.ttf),format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"Poppins-ExtraBold";
    src: url(fonts/Poppins-ExtraBold.ttf),format('truetype');
    font-weight: ExtraBold;
    font-style: normal;
}



.projects-section {
    padding: 50px 0;
    background-color: #fefefe;
    text-align: center;
}

.projects-section h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #e98d71;
    font-family: "Rock_3D";
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 90%;
    margin: 0 auto;
}

.project-card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.3rem;
    font-weight: 600;
    color:#575757;
    margin-bottom: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.project-card p {
    font-size: 1rem;
    color: #777;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card a {
    text-decoration: none;
    color: inherit; 
}

.project-card a:visited {
    text-decoration: none;
}



/* Ask Button */
.ask-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#ask-btn {
    background-color: #006aff;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#ask-btn:hover {
    background-color: #e98d71;
}

/* Footer */
footer {
    background-color: #004594;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* Responsive Design */
@media (max-width: 900px) {
    .project-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .proejct-img {
        width: 100%;
        margin-bottom: 20px;
    }

    .project-info {
        width: 100%;
    }

    .project-content {
        flex-direction: column;
    }


    .project-grid {
        grid-template-columns: 2fr; 
    }

    .project-card {
        margin-bottom: 20px; 
    }
}

@media (max-width: 600px) {
    

    .project-info h1 {
        font-size: 2rem;
    }
    

    .project-grid {
        grid-template-columns: 1fr; 
    }

    .project-card {
        margin-bottom: 20px; 
    }

}



