@font-face {
    font-family:"Rock_3D";
    src: url(fonts/Rock3D-Regular.ttf),format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* GRID START!!!! */
.project {
    display:grid;
    margin-bottom: 30px;
}

.introduction-text{
    margin:50px;
}

.pjct-img img{
    width:100%;
}

.pjct-img {
    max-width:30%;
    display:flex;
    margin: auto;
}

.rounded-box {
    background-color:#004594;
    border-radius: 30px;
    float:right;
    margin-bottom: 30px;
}
/* GRID END!!! */



body h1 {
    font-family: "Rock_3D";
    color: #e98d71;
    margin-left:15px;
}

h2 {
    font-family: "Rock_3D";
    color: #ffffff;
}
h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #a0bad7;
}


p {
    font-family: verdana;
    color: #ffffff;
    font-size:14px;
    margin-left: 15px;
    margin-right: 15px;
}




/*!!!!!!content media queries!!!!!!! START*/


/* small screen */
@media (min-width: 200px){
    
    .project {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        margin-top: 50px;
        border-bottom: 50px;
    }
    

    p{
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 20px;
    }

    .pjct-img{
        max-width: 100%;
    }

    .rounded-box {
        max-width: 80%; 
        margin:auto;
    }

    body h1{
        font-size: 22px;
    }

    .rounded-box h2{
        font-size: 15px;
    }
}

/*medium screen */
@media (min-width: 900px) {

    .rounded-box {
        max-width: 90%; 
    }

    .project {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        margin-top:10px;
    }

    .introduction-text{
        line-height: 35px;
    }

    body h1{
        font-size: 30px;
    }

    .rounded-box h2{
        font-size: 15px;
    }
}




/*big screen*/
@media (min-width: 1100px) {

    .rounded-box {
        max-width: 90%; 
    }

    .project {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top:50px;
    }

    .introduction-text{
        line-height: 30px;
    }

    body h1{
        font-size: 50px;
    }

    .rounded-box h2{
        font-size: 20px;
    }

}